.projects-title {
    text-align: center;
    font-weight: bolder;
    font-size: 46px;
    color: #DDDDDD;
}
.project{
    width: 80%;
    padding-top: 3vh;
    margin: 5vh 10% 5vh 10%;
    height: 75vh;
    background-color: #DDDDDD;
    border-radius: 30px;
}
.project > .project-title{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.project > .project-count{
    text-align: center;
    color: gray;
}
.project-body {
    display: flex;
    padding: 2vh 5vh 2vh 5vh;
    border-bottom: 1px solid #222831;
}
.project-body img{
    margin-right: 20px;
    width: 60%;
    height: 40vh;
}
.project-body > div > .body-content{
    width: 100%;
    line-height: 140%;
}
.project-body > div > .body-readme{
    margin-top: 5vh;
    width: 50%;
    height: 5vh;
    color: white;
    font-size: 20px;
    background-color: #222831;
    border-radius: 10px;
    align-content: center;
    padding-left: 5%;
}
.project-footer{
    padding: 2vh 5vh 0 2vh;
}
.footer-line {
    display: flex;
    align-items: center;
}
.footer-line p{
    font-size: 18px;
    font-weight: bolder;
    margin-right: 20px;
}
.footer-line img{
    width: 60px;
    height: 57px;
}
.project-footer img{
    width: 57px;
    height: 57px;
}