* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.wrapper {
}
.content {
  overflow-x: hidden;
}
.content .section {
  width: 100%;
  height: 100vh;
}
.back_black {
  background-color: #000000;
  width: 100%;
  height: 1000vh;
}
.navi {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vw 0 5vw;
  border-bottom: 1px solid #4B4B4B;
}
.navi > div > p {
  color: white;
}
.navi_left > p {
  font-weight: bold;
  font-size: 25px;
}
.navi_right {
  display: flex;
}
.navi_right > p {
  margin-left: 38px;
  font-weight: lighter;
  font-size: 15px;
  line-height: 29px;
}
.navi_back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content .section.hero {
  background-image: url(https://images.unsplash.com/photo-1589848315097-ba7b903cc1cc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.black_body {
  width: 100vw;
  padding: 0 5vw 0 5vw;
}
.my_profile > div:nth-child(1) {
  margin-top: 116px !important;
}
.title {
  margin-top: 248px;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}
.title > p {
  font-size: 40px;
  font-weight: bold;
  color: #f5f5ff;
  margin-bottom: 10px;
}
.profile_data {
  padding: 10vh 5vw 0 5vw;
  width: 90vw;
  display: flex;
}
.profile_data > div:nth-child(2) > p {
  color: #f5f5ff;
}
.profile_left > img {
  width: 210px;
  height: 269px;
  border-radius: 39px;
}
.profile_right{
  margin:70px 0 0 70px ;
  position: relative;
  bottom: 0;
}
.profile_right > p:nth-child(1) {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
}
.profile_right > p:nth-child(2) {
  font-weight: bold;
  font-size: 25px;
}
.profile_right > div {
  display: flex;
  padding: 17px 0 14px 0;
}
.profile_right > div > p {
  background-color: #FEFCEE;
  color: #171F1B;
  height: 32px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.profile_right > div > p:nth-child(1) {
  width: 172px;
}
.profile_right > div > p:nth-child(2) {
  width: 114px;
  margin-left: 10px;
}
.profile_right > div > p:nth-child(2) {
  width: 114px;
  margin-left: 10px;
}
.profile_right > p {
  font-weight: bold;
  font-size: 20px;
}
.skills_img {
  width: 90%;
  margin-top: 100px;
  height: 100%;
  margin-left: 5vw;
}
.project {
  width: 100%;
}
.coinAi {

}
.coinAi_title {
  display: flex;
  width: 700px;
  margin: 25vh auto 0 auto;
}
.coinAi_title > p:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
  color: #f5f5ff;
}
.coinAi_title > p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: #86868B;
  line-height: 58px;
}
.project_notice {
  width: 700px;
  margin: 22px auto 0 auto ;
  -webkit-animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both running tracking-in-expand-fwd-bottom;
}
.project_notice > p {
  color: #86868B;
  font-size: 20px;
}
.project_img {
  width: 100%;
  text-align: center;
}
.project_img > img {
  margin: 25vh auto 0 auto;
  width: 996px;
}
.contact {
  height: 500px;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}